*{
    margin: 0px;
}
body{
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: 		#DCDCDC;
    height: 100vh;
    width: 15%;
    
}
.bloco1{
    display: flex;
    position: relative;
    top: 10%;
    gap: 10px;
    flex-direction: column;
}
.bloco2{
    display: flex;
    position: relative;
    top: 24%;
    gap: 10px;
    flex-direction: column;
}
h1{
    font-family: "Archivo Black", sans-serif;
    position: relative;
    left: 50%;
    top: 4%;
    transform: translateX(-30%);
}
.bloco1 p{
    height: 30px;
    width: 100%;
    font-size: 15px;
    position: relative;
    left: 16%;
}
.bloco2 p{
    width: 100%;
    height: 30px;
    font-size: 15px;
    position: relative;
    left: 16%;
}
header{
    display: flex;
    position: absolute;
    top: 0%;
    left:50%;
    width: 100%;
    background-color: white;
    transform: translateX(-35%);
    height: 80px;
    flex-direction: row;
    gap: 50px;
    box-shadow: 0 7px 12px -9px rgba(0,0,0,0.7);
    z-index:5;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 55%;
    left: 18%;
    transform: translateY(-25%);
}
.book{
    position: absolute;
    top: 80px;
    left:50%;
    width: 100%;
    background-color: white;
    transform: translateX(-35%);
    height: 100%;
}
img{
    width: 300px;
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-60%);
}
.caracteriscas{
    position: relative;
    top: -50%;
    left: 30%;
    width: 600px;

}
h2{
    color: #00BFFF;
}
#livroo{
    text-align:center;
    position: relative;
    top: -25px;
    left: 60%;
    width: 70px;
    height: 23px;
    background-color: 	#A9A9A9;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0px;
}
#titlee{
    font-size: 20px;
    font-weight: bold;
}
#autor{
    margin-top: 5px;
    font-size: 13px;
    color: gray;
}
#sbn{
    margin-top: 20px;
    font-size: 13px;
}
#descricao{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #00BFFF;
    width: 97px;
}
#sinopse{
    margin-top: 20px;
    font-size: 16px;
}